.bg-intro {
  background-image: url("./media/Titlecard_Background.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 120vh;
}

.bg-nav {
  background-image: url("./media/navbar.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size:contain;
  position: relative;
  min-height: 9vh;
  max-width: 80%
}

.welcome-bg {
  background-image: url("./media/Untitled\ 1.png");
}

.nav {
  font-family: "PT serif",'Courier New', Courier, monospace
}



@tailwind base;
@tailwind components;
@tailwind utilities;
